* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.heading {
    width: 100%;
    background-color: green;
    font-size: 48px;
    color: white;
    text-align: center;
    padding: 20px;
}

#school {
    font-size: 48px;
    color: deeppink;
    text-align: center;
    padding: 20px;
    font-family: sans-serif;
    font-weight: 700;
}

/* -------------- login form -------------- */
.login {
    display: flex;
    height: 400px;
    margin: 20px;
}

.image {
    width: 50%;
    background-image: url('./images/udom.jpeg');
    background-size: cover;
    background-position: center;
    border-radius: 10px 0 0 10px;
}

.right {
    width: 50%;
    background-color: rgb(189, 211, 218);
    border-radius: 0 10px 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login_head {
    font-size: 38px;
    background-color: rgb(21, 129, 21);
    color: white;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    width: 80%;
    margin-bottom: 20px;
}

#form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
}

#form input {
    width: 100%;
    padding: 12px 20px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
}

#submit:hover {
    background-color: teal;
    color: black;
    border-radius: 5px;
}

/* -------------- student form -------------- */ 
.studentData {
    width: 100%;
    background-color: green;
    padding: 15px;
}

#form1 {
    margin: auto;
    width: 80%;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

#form1 input {
    padding: 10px;
    margin-right: 15px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
}

#form1 input:focus {
    outline: none;
}

table, td, th {
    border: 1px solid #ddd;
    text-align: left;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin: auto;
    margin-top: 50px;
}

th, td {
    padding: 15px;
    text-align: center;
}

tr > th {
    background-color: teal;
    color: white;
}

.td6 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.td6 > button {
    margin-right: 10px;
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
} 

.td6 > button:nth-child(1) {
    background-color: green;
}

.td6 > button:nth-child(2) {
    background-color: red;
}

.td6  > button:nth-child(3) {
    background-color: black;
}

#absent {
    background-color: red;
}